[user]
  name = Travis Raup
  email = travis.raup@gmail.com
	signingKey = ""
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
